<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv=“Pragma” content=”no-cache”>
    <meta http-equiv=“Expires” content=”-1″>
    <meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
    <meta charset="UTF-8">
    <title>Studyboard | Forum</title>
    <link href="/style/index/image_gal.css" rel="stylesheet" type="text/css"/>

    <!--Head-->
    <link href="/style/global/div.css" rel="stylesheet" type="text/css"/>
    <link href="/style/global/text.css" rel="stylesheet" type="text/css"/>
    <!--Foot-->
    <link href="/style/foren/general.css" rel="stylesheet" type="text/css"/>
    <!--Tabbar-->
    <link href="/style/foren/forum-select/forum-select.css" rel="stylesheet" type="text/css"/>
    <!--TabContent-->
    <link href="/style/foren/forum-message/forum-message.css" rel="stylesheet" type="text/css"/>
    <!--Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Helpwindow for Forum -->
    <link rel="stylesheet" type="text/css" href="/style/usablitiy/helpwindow.css"/>

</head>
<body>

<div class="content-msg">
    {% for message in messages %}

    {% if user == message.studentName %}
    <div class="msg-sent">
        {% else %}
        <div class="msg-rec">
            {% endif %}
            {{ message.contend }}
            <hr>
            <span class="metadata-msg"> {{ message.tstmp|date("d.m.Y H:i", "Europe/Paris") }} | <span
                        style="color:{{ message.color }}"> {{ message.studentName }} </span>| #{{ message.postId }}
                {% if (user == message.studentName or isAdmin == true or id==forum.creator) %}
                    | <a href="/deletePost/{{ message.forumId }}/{{ message.postId }}">
                                    <i class="material-icons" style="float: right; margin-right: 50px">delete</i>
                                </a>
                {% endif %}
                        </span>
        </div>
        {% endfor %}

            {% set isAbo = false %}
            {% for abo in abos %}
                {% if abo.forumId == forumId %}
                    {% set isAbo = true %}
                {% endif %}
            {% endfor %}
            {% if isAbo == true %}
                <a href="/deleteAbo/{{ forumId }}"><span class="abobtn"><i class="material-icons">notifications_off</i></span></a>
            {% else %}
            <a href="/newAbo/{{ forumId }}"><span class="abobtn"><i class="material-icons">add_alert</i> </span></a>
        {% endif %}
       
        </span>
         {% if isAdmin or forum.creator == user %}
             <a href="/deactivateForum/{{ forumId }}">
                 <span class="deactivatebtn"><i class="material-icons">delete_sweep</i></span>
             </a>
            {% endif %}
        <span class="helpplsbtn" onclick="toggleHelpWindow()"><i class="material-icons">help</i></span>
        <span class="helpWindow" id="helpWindow" onclick="toggleHelpWindow()" style="padding-top: 0">
            <h1>Hilfe: Foren</h1>
            <h2>Bedienung</h2>
            <h3><i class="material-icons">add_alert</i> - Forum Abonnieren | <i class="material-icons">notifications_off</i> - Forum Deabonnieren</h3>
            <h3><i class="material-icons">delete</i> Beitrag löschen</h3>
            <h3><i class="material-icons">delete_sweep</i> - Forum Deaktivieren (Nur Admins)</h3>
            <div class="closebtn" style="bottom: 200px"><i class="material-icons">touch_app</i></div>
        </span>
        <div class="msg-spacer"></div>
    </div>
</div>
<script src="/script/usability/usability.js"></script>
</body>
</html>